[submodule "orgs"]
	path = orgs
	url = https://github.com/emt1234/orgs.git
[submodule "facilities"]
	path = facilities
	url = https://github.com/emt1234/facilities.git
[submodule "codes"]
	path = pin-codes
	url = https://github.com/emt1234/door-codes.git
[submodule "medical"]
	path = medical
	url = https://github.com/emt1234/medical.git
